{{ template "header.html" }}

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            {{range .videos}}
            <div class="col-md4">
                <div class="card mb-4 shadow-sm">
                    <dic class="card-body">
                        <iframe width="300" height="200" src="{{.URL}}"></iframe>
                        <p class="card-text">
                            <h4>{{.Title}}</h4>
                            <p>{{.Description}}</p>
                        </p>
                    </dic>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{ template "footer.html" }}